<div ng-include="'components/navbar/navbar.html'"></div>

<img src="assets/images/ocean.jpg" id="ocean">
<button ng-click="addListing()">POST</button>
<div class="white-back">
  <div class="leftSide">
    <span class="ion-chevron-left" ng-click="back()" ng-hide="step===1"></span>
  </div><!--
 --><div class="middleSide" style="height: 100%">
<form name="listing" class="">
  <div ng-show="step===1" style="height: 100%">
    <h2>Let us do the heavy lifting!  What is your property's AirBNB URL?</h2>
      <input type="text" placeholder="https://www.airbnb.com/rooms/1747206?s=tBpwerjk" ng-model="listing.property_info.airbnb_url" class="form-control"></input>
      <br></br>
      <button class="btn btn-info center" ng-click="scrape()">RETRIEVE</button>
  </div>
  <div ng-show="step===2">
    <h2>Getting info from airbnb...</h2>
      <div class="spinner">
        <div class="spinner-container container1">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
      </div>
    <!-- spinner -->
  </div>
  <div ng-show="step===3">
    <div class="pageview">
    <h2>Let's get started!</h2>
      <h4>Name your listing</h4>
        <input type="text" placeHolder="Little House in the Woods" ng-model="listing.property_info.name" class="form-control"></input>
      <h4>Choose a tagline</h4>
        <input type="text" class="tagline form-control" placeholder="A quiet refuge" ng-model="listing.property_info.tagline"></input>
      <h4>Short 'About us' paragraph.</h4>
        <textarea type="text" class="tagline form-control" placeholder="A quiet refuge" ng-model="listing.property_info.about_us"/>
    </div>
  </div>

  <div ng-show="step===4">
    <div class="pageview">
    <h2>Help your guest get acclimated.</h2>
      <h4>Your wifi password's location</h4>
        <textarea class="form-control" ng-model="listing.your_stay.wireless_pwd" placeholder="Our wifi password is located..."/>
      <h4>How to use your TV/cable/roku (brief)</h4>
        <textarea class="form-control" ng-model="listing.your_stay.tv_instructions" placeholder="Feel free to use our TV! The black remote's power button..."/>
      <h4>List any special instructions about your house</h4>
        <textarea class="form-control" ng-model="listing.your_stay.house_info" placeholder="The upstairs shower takes time to get hot..."/>
      <h4>What should guests keep in mind about your neighborhood?</h4>
        <textarea class="form-control" ng-model="listing.your_stay.neighborhood" placeholder="While our neighborhood is generally safe..."/>
    </div>
  </div>

      <!-- need house rules here? should scrape-->

  <div ng-show="step===5">
    <form name="activities" ng-model="listing.what_to_do" method="POST">
    <div class="pageview">
    <h2>What great places should your guests visit?</h2>
        <h4>Place type</h4>
        <select ng-model="listing.what_to_do.select">
          <option class="form-control" value="outdoor">Activities</option>
          <option class="form-control" value="arts">Arts</option>
          <option class="form-control" value="local_hangouts">Culture</option>
          <option class="form-control" value="local_hangouts">Family</option>
          <option class="form-control"  value="museum">Museum</option>
          <option class="form-control" value="night_life">Night Life</option>
          <option class="form-control" value="park">Park</option>
          <option class="form-control" value="shopping">Shopping</option>
          <option class="form-control" value="sports">Sports</option>
        </select>

      <h4>Name of place</h4>
        <input type="text" class="form-control" ng-model="listing.what_to_do.place"></input>
      <h4>Place's web address</h4>
        <input type="text" class="form-control" ng-model="listing.what_to_do.url"></input>
      <h4>What's special about this place?</h4>
        <textarea class="form-control" ng-model="listing.what_to_do.note" placeholder="We are big fans of..."></textarea>
        <br></br>
        <button class="btn btn-info" ng-click="recyclePlace()" action="submit">Save and Next</button>
        <button class="btn btn-info" ng-click="recyclePlaceFinish()" action="submit">Save and Finish</button>
    </div>
    </form>
    <ul id="placeList" ng-repeat="place in placeList">
      <li>{{place}}</li>
    </ul>
  </div>

  <div ng-show="step===6"
    <form name="food" ng-model="listing.where_to_eat">
    <div class="pageview">
    <h2>What are some of your favorite restaurants in the area?</h2>
      <h4>Restaurant Name</h4>
        <input type="text" class="form-control" ng-model="listing.where_to_eat.restaurant"></input>
      <h4>Restaurant Web Address</h4>
        <input type="text" class="form-control" ng-model="listing.where_to_eat.url"></input>
      <h4>What's great about this venue?</h4>
        <textarea type="text" class="form-control" ng-model="listing.where_to_eat.note" placeholder="This place's crepes are divine.  The prices are unbeatable, too."></textarea>
        <br></br>
        <button class="btn btn-info" ng-click="recycleFood()">Save and Add</button>
        <button class="btn btn-info" ng-click="recycleFoodFinish()">Save and Finish</button>
    </div>
    </form>
  </div>

  <div ng-show="step===7">
    <div class="pageview">
    <h2>Please list some emergency information</h2>
      <h4>Where is your first-aid kit located?</h4>
        <input type="text" class="form-control" ng-model="listing.emergency.first_aid_kid"></input>
      <h4>What is the name of the nearest hospital?</h4>
        <input type="text" class="form-control" ng-model="listing.emergency.hospital"></input>
      <button class="btn btn-info" ng-click="addListing()">SUBMIT</button>
    </div>
  </div>
</form>
</div><!--
--><div class="rightSide">
  <span class="ion-chevron-right" ng-click="advance()" ng-hide="step===5" style="z-index: 100"></span>
</div>
</div>
