body {
  color: #333;
}

#logo {
  width: 30px;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}

div.navbar {
  margin-left: 40px;
  margin-bottom: 0;
  padding-right: 15px;
}

h1 span {
   color: white;
   font: bold 24px/45px;
   letter-spacing: 1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}

.myListings {
  color: white;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  /* make background transparent*/
  padding: 10px;
  z-index: 50;
  display: block;
  top: 100px;
  left: 50px;
  .right-align {
    float: right;
  }
  position: absolute;
  vertical-align: top;
}

#titleText {
  color: white;
  position: absolute;
  z-index: 50;
  display: block;
  top: 800px;
  left: 1300px;
}

#ocean {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}

#luxe_benefits {
  font-size: 24px;
  // font-weight: bold;
  padding: 50px 20px;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  color: #333;
}

#guest-review {
  height: 600px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 300px 100px 0 800px;
  position: absolute;
  z-index: 0;
    text-align: center;
}

#guest-review-p {
  margin-top: 350px;
  display: inline-block;
}

#guest-review-img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 60px 0 0 100px;
  z-index: 1;
  position: absolute;
  display: inline-block;

}

div.white-back {
  h2{
    text-align: center;
  }
  padding: 50px 0;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 100px auto 0 auto;
  height: 800px;
  width: 60%;
  box-sizing: border-box;
  z-index: 100;
}

div.leftSide, div.rightSide {
  width: 10%;
  display: inline-block;
  margin-top: 350px;
}

div.middleSide {
  width: 80%;
  display: inline-block;
}

div.rightSide {

}

.pageview {
  margin: 0 auto;
  width: 50%;
  position: relative;
  display: block;
  vertical-align: middle;
}

span.ion-chevron-right, span.ion-chevron-left {
  height: 50px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 200;
  font-size: 32px;
  font-weight: bold;
  color: blue;
  :active {
    color: white;
  }
  // margin: 300px 0 0 0;
  // padding: 0 100px;

}

span.ion-chevron-right {
  float: right;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}