

div.navbar {
  margin-bottom: 0;
}

img {
  z-index: 1;
  position: relative;
  width: 100%;
}

h1 span {
   color: white;
   font: bold 24px/45px;
   letter-spacing: 1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}

.myListings {
  color: white;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  /* make background transparent*/
  padding: 10px;
  z-index: 50;
  display: block;
  top: 100px;
  left: 50px;
  .right-align {
    float: right;
  }
}

#titleText {
  color: white;
  position: absolute;
  z-index: 50;
  display: block;
  top: 800px;
  left: 900px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}